html,
body,
#root,
.game-container,
.cards-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #feffea;
}

.game-container {
  display: flex;
  justify-content: center;
}

.nav-row {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
}

.cards-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blur {
  filter: blur(8px);
}

.no-blur {
  filter: blur(0px);
}
